<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-dark p-3" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['./home']">Charlas en RD</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <ul class="navbar-nav ml-5 mr-auto">
      <li *ngFor="let item of items" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link waves-light"
            mdbWavesEffect
            [routerLink]=[item.link]>
          {{item.name}}
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
