<!-- Contenedor general -->
<div class="generalContainer">
    <div class="container-fluid m-0 p-0">
        <div class="row justify-content-center">
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-5">
                <h1 class="customTitle">Hello, I'm Sarah Dayan</h1>
                <p class="customDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quasi, aspernatur fuga officiis reiciendis repellat dolor dolore nesciunt fugiat aut dicta? Consequatur consectetur ducimus impedit. Pariatur debitis impedit cumque delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab culpa aliquam quidem ipsam fugiat laudantium, id repudiandae, nemo atque voluptates reiciendis provident magni impedit alias harum! Ipsum deserunt obcaecati ea!</p>
                <div class="listContainer">
                    <ul class="list-group">
                        <li class="m-0 p-0 mb-4 list-group-item text-white bg-transparent">01 <span></span> --------------- <b>Projects</b></li>
                        <li class="m-0 p-0 mb-4 list-group-item text-white bg-transparent">02 <span></span> --------------- <b>Speaks</b></li>
                        <li class="m-0 p-0 mb-4 list-group-item text-white bg-transparent">03 <span></span> --------------- <b>Interviews</b></li>
                    </ul>
                </div>
                <div class="socialContainer">
                    <a type="button" class="btn btn-so customButton">
                      <i class="fab fa-twitter pr-1"></i>
                      <span>Twitter</span>
                    </a>
                    <a type="button" class="btn btn-so customButton">
                      <i class="fab fa-github pr-1"></i>
                      <span>Github</span>
                    </a>
                </div>
            </div>
            <div class="col-11 col-sm-11 col-md-11 col-lg-11 col-xl-7">
                <div class="cardList">
                    <div class="customCard"  *ngFor="let item of collection" >
                        <h3 class="customArea">TYPESCRIPT</h3>
                        <h3 class="customName">snippets.js</h3>
                        <h3 class="descriptionArea">Extract snippets code from source files</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contenedor general -->