.general-container{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #030303;
}
.custom-title{
    font-size: 5.5vw;
    color: #ffffff;
    margin-top: 12vh;
    margin-left: 5vw;
    margin-right: 2.5vw;
}
.custom-description{
    font-size: 0.8vw;
    font-weight: lighter;
    color: #9C9A9E;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 2.5vw;
}
.listContainer{
    width: 100%;
    margin-left: 5vw;
    margin-top: 5vh;
}
.customButton{
    color: #ffffff;
}
.socialContainer{
    width: 100%;
    margin-left: 4.7vw;
    margin-top: 12vh;
}
.cardList{
    float: right;
    width: 60%;
    height: 70vh;
    margin-top: 10vh;
    overflow: hidden;
    overflow-y: auto;
}
.descriptionArea{
    font-size: 0.8vw;
    margin-top: 1vh;
    margin-left: 5vw;
    font-weight: lighter;
    color: #d7d7d8;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
