/* You can add global styles to this file, and also import other style files */
// html *
// {
//    font-family: -apple-system, BlinkMacSystemFont, Arial,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
// }
@font-face{
   font-family: 'Product Sans';
   src: url('./assets/fonts/ProductSans-Regular.ttf');
}

*{
   font-family: 'Product Sans', sans-serif;
}

.general-container{
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #030303;
  color: whitesmoke;
}
