@font-face{
   font-family: 'Product Sans';
   src: url('./assets/fonts/ProductSans-Regular.ttf');
}

*{
   font-family: 'Product Sans', sans-serif;
}

.general-container{
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #030303;
  color: whitesmoke;
}

.modal-content .modal-header, .modal-footer {
  background-color: #212121;
  border: 0px;
}

.modal-body {
  background-color: #030303;
}

input {
  color: whitesmoke;
}
